.fico.census
  margin-top: 3px

  .ant-tabs-nav
    background-color: white

  .ant-tabs-extra-content
    padding-right: 20px

  .ant-tabs-tab:first-child
    margin-left: 1rem

  .ant-tabs-content-holder
    padding: 0 1rem

    .fico.section
      padding: 0

      .ant-statistic
        text-align: center

      .ant-divider
        height: 100%

  .ant-card
    display: flex
    margin-bottom: 4rem
    flex-direction: column
    .ant-space
      align-self: flex-end
      margin-top: 1rem

.fico.census
  .form
    width: 60%
    margin: 2rem auto
