.fico
  .monitoring
    .ant-tabs-bar
      margin-top: 3px
      background-color: #FFFFFF
      .ant-tabs-tab:first-child
        margin-left: 1rem
    .ant-tabs-content
      .ant-alert
        background-color: #FFFFFF
        border: none
      .ant-btn-primary
        background-color: #1890ff
        border-color: #1890ff