$white-color: #FFF
$primary-color: #1890ff
$primary-color-hover: #40a9ff

.fico
  .monitoring-finacial
    .ant-tabs-bar
      margin-top: 3px
      background-color: $white-color
      .ant-tabs-tab:first-child
        margin-left: 1rem
    .ant-tabs-content
      .ant-alert
        background-color: $white-color
        border: none
      .ant-btn-primary
        background-color: $primary-color
        border-color: $primary-color
        color: $white-color
        &:hover
          background-color: $primary-color-hover
          border-color: $primary-color-hover
          color: $white-color