.fico.technical-monitoring
  .ant-tabs-nav-wrap
    margin: 3px 0
    background-color: white

  .ant-tabs-tab:first-child
    margin-left: 1rem

  .ant-tabs-content-holder
    padding: 0 1rem

    .objectives
      .ant-statistic
        text-align: center

      .ant-divider
        height: 100%
