.ant-btn
  &-primary
    background-color: $accent-color
    border-color: $accent-color
  
  &-link
    color: $toolbar-text-color

  &:focus, &:hover
    color: $toolbar-text-color
    border-color: $toolbar-text-color

.ant-btn
  &-success
    background-color: $success-color
    border-color: $content-background-color !important
    color: $content-background-color !important
  &:focus, &:hover
    background-color: $success-color-hover
