.fico.layout.submissions
  .fico.section
    max-width: 950px
    margin: 20px auto !important

  .ant-page-header
    padding: 0px

    &> .ant-page-header-heading
      padding: 16px 24px
      background-color: $content-background-color

    &> .ant-page-header-content
      padding: 16px 24px
      background-color: $main-menu-background-color

      .ant-page-header-heading-title
        color: $content-background-color
        font-weight: 400

  .ant-steps
    &-item-content
      .ant-steps-item-title
        color: $content-background-color
        font-weight: 400
    &-item-wait
      &.ant-steps-item-active
        .ant-steps-item-icon
          background-color: $content-background-color
          border-color: $content-background-color

          .ant-steps-icon
            color: $main-menu-background-color
      .ant-steps-item-icon
        background-color: $main-menu-background-color
        border-color: $content-background-color

        .ant-steps-icon
          color: $content-background-color

.fico.layout
  .documentsAgreement
    display: flex
    align-items: center
    .ant-upload-list-item-uploading,
    .ant-upload-list-item-done,
    .ant-upload-list-item-error
      margin: 0 0 0 .5rem
      .anticon-paper-clip,
      .anticon-loading
        left: 5px