.fico.pdf
  margin: 20px

  &.general-information
    table
      table-layout: fixed

      .ant-descriptions-view
        border-right: none
        border-left: none

  &.reports

  &.technical-specification
    .section
      border: 1px solid #f0f0f0
      padding: 0

      .ant-card-body
        padding: 15px

        .ant-list
          margin: 10px 0


  .export-button
    float: right

  @media print
    margin: 0
    .export-button
      display: none
