.fico.pdf
  margin: 20px

  &.general-information
    table
      table-layout: fixed

      .ant-descriptions-view
        border-right: none
        border-left: none

  &.reports


  .export-button
    float: right

  @media print
    margin: 0
    .export-button
      display: none
